* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
}

label, input, td, select, li {
    font-family: "Open Sans", sans-serif !important;
}

tr {
    height: 10px !important;
}

tr td {
    height: auto !important;
    padding: 8px 16px !important;
}

.basic__menu {
    z-index: 10000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;